@model IEnumerable<DE2.Models.TinTuc>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/NguoiDung.cshtml";

}
@{
    int soSP = 1;
    int tongSoSP = Model.Count();
    int soSPHienThi = 2;
    int soTrang = (tongSoSP / soSPHienThi);
    int soTrangHienThi = tongSoSP % soSPHienThi == 0 ? tongSoSP / soSPHienThi : (tongSoSP / soSPHienThi) + 1;
    int Trang = 1;
}
<div class="wrap">
    <div class="main">
        <div class="content">
            @foreach (var item in Model)
            {

                
                <div class="box1 @Url.Content("item_sp Trang_"+Trang)">
                    <h3><a href="#">@item.TieuDe</a></h3>
                    <span>By Huyen - @item.NgayDang<span class="comments">5 Comments</span></span>
                    <div class="view">
                        <img width="150px" src="@Url.Content("~/Content/images/"+item.HinhAnh)">
                    </div>
                    <div class="data">
                        <p>@item.MoTaNgan</p>
                        <span><a href="@Url.Action("Details", "NguoiDung", new {id = item.ID})">Continue reading >>></a></span>
                    </div>
                    <div class="clear"></div>
                </div>
                if (soSP % soSPHienThi == 0)
                {
                    Trang++;
                }
                soSP++;
            }




        </div>


        <div class="clear"></div>
        <ul class="pagination justify-content-end">
            @for (int i = 1; i <= soTrangHienThi; i++)
            {
                <li data-Trang="@i" class=" @Url.Content("page-item Trang_"+i)"><a style="color:orange" class="page-link" href="javascript:void(0);">@i</a></li>

            }



        </ul>
    </div>
</div>
<style>
    .item_sp {
        display: none;
    }
</style>
<script>
      $('.Trang_1').show();
            $('.page-item').click(function () {
                $('.item_sp').hide();
                var Trang = $(this).attr("data-Trang");
                $('.Trang_'+@Url.Content("Trang")).show();
            })
</script>